<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ecjtu.flesh">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--PayPal-->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name="com.ecjtu.flesh.uerinterface.activity.MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uerinterface.activity.PageDetailActivity"
            android:exported="true" />
        <activity
            android:name=".uerinterface.activity.FullScreenImageActivity"
            android:process=":child"
            android:theme="@style/CCImageStatusBarStyle" />

        <service
            android:name=".service.MainService"
            android:process=":msg" />

        <activity
            android:name=".uerinterface.activity.TestActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name=".uerinterface.activity.PayPalSampleActivity"
            android:exported="true" />

        <activity
            android:name=".uerinterface.activity.PayPalActivity"
            android:theme="@style/CCTranslucentTheme" />

        <activity
            android:name=".uerinterface.activity.AppWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc"
            android:hardwareAccelerated="true"
            android:theme="@style/CCTranslucentTheme" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>

</manifest>