<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecjtu.componentes">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ImmersiveFragmentActivity"
            android:theme="@style/ImageStatusBarStyle" />

        <activity
            android:name=".ActionBarFragmentActivity"
            android:exported="true"
            android:theme="@style/AppPreferenceTheme" />

        <activity
            android:name=".RotateNoCreateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc"
            android:theme="@style/ImageStatusBarStyle" />
    </application>

</manifest>
